<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Chat Room</h1>
    <div id="username-form">
        <h2>Enter your username:</h2>
        <input style="width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;" id="username" type="text" placeholder="Username">
        <br>
        <button id="submit-username">Enter</button>
    </div>
    <div id="chat-container" style="display: none;">
        <div id="messages" class="message-container"></div>
        <div id="message-box">
            <input id="message" type="text" placeholder="Enter your message">
            <button id="send">Send</button>
        </div>
        <button id="leave-chat">Leave Chat</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
    
</body>
</html>


